<!DOCTYPE html>
<html>
  <head>
    <title><%" New Message" %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>New Message</h1>

    <form action="POST" action="/new">
      <label for="newMessage">New Message</label>
      <input type="text" name="newMessage" />
      <label for="user">User</label>
      <input type="text" name="user" />
      <input type="submit" />
    </form>
  </body>
</html>
